<h2>{{biome()? 'Editar' :'Crear'}} Bioma</h2>
<form [formGroup]="biomeForm">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <shared-input-text [labelTitle]="nameLabel" [control]="$any(biomeForm.get('name'))" />
        <shared-input-text [labelTitle]="imagen_urlLabel" [control]="$any(biomeForm.get('imagen_url'))" />
        <shared-input-text [labelTitle]="updated_atLabel" [control]="$any(biomeForm.get('updated_at'))" />
    </div>
    <div class="mt-16">
        <shared-btn [type]="'submit'" [btnDisabled]="!this.biomeForm.valid" class="float-right">
            {{biome()? 'Editar' :'Crear'}}
        </shared-btn>
    </div>
</form>