<h2>{{diet() ? 'Editar' : 'Crear'}} Dieta</h2>
<form [formGroup]="dietForm">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <shared-input-text [labelTitle]="nameLabel" [control]="$any(dietForm.get('name'))" />
        <shared-input-text [labelTitle]="descriptionLabel" [control]="$any(dietForm.get('description'))" />
        <shared-input-text [labelTitle]="updated_atLabel" [control]="$any(dietForm.get('updated_at'))" />
    </div>
    <div class="mt-16">
        <shared-btn [type]="'submit'" [btnDisabled]="!this.dietForm.valid" class="float-right">
            {{diet() ? 'Editar' : 'Crear'}}
        </shared-btn>
    </div>
</form>